/*Обнулення*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: white;
	font-size: 16px;
	line-height: 24px;
}

a {
	color: #794f45;
}

h1 {
	font-size: 40px;
	line-height: 1;
	margin: 0px 0px 50px 0px;
}

h2 {
	font-size: 30px;
	line-height: 1;
	margin: 20px 0px 20px 0px;
}

ul {
	list-style: none;
}



/* ====================================== */

.grid-container {
	min-height: 100%;
	display: flow-root;
	grid-template: minmax(200px, auto) 1fr minmax(70px, auto) / 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}


/* --------- header ---------- */

.header {
	grid-area: header;
	padding: 15px;
	background-color: #bdeb95;
	display: grid;
	grid-template: 1fr 1fr/ 1fr minmax(auto, 1440px) 1fr;
	justify-items: center;
}

.header__image {
	grid-column: 2/3;
	height: 180px;
	width: calc(274px + (600 - 280) * ((100vw - 320px) / (1920 - 320)));
}

.header__title {
	grid-column: 2/3;
	font-size: calc(45px + (90 - 50) * ((100vw - 320px) / (1920 - 320)));
	line-height: calc(40px + (50 - 40) * ((100vw - 320px) / (1920 - 320)));
	margin-top: 50px;
	color: #0faa3b;
}



/* --------- main ---------- */

@media (min-width: 992px) {
	.main {
		grid-area: main;
		display: grid;
		grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
	}

	.sidebar {
		grid-column: 2/3;
		margin: 0;
	}

	.content {
		grid-column: 3/4;
		padding: 0px 0px 0px 30px;
	}
}

/*-------------------------------*/
.main {
	padding: 30px 15px;
}

.sidebar {
	background-color: rgb(70 70 70);
	padding: 30px 15px;
	margin: 0px 0px 30px 0px;
}

.sidebar__menu {}

.sidebar__list {}

.sidebar__list li {
	margin: 15px;
}

.sidebar__link {
	color: #6ac7a1;
	font-size: 20px;
}



.content {}

.gallery {}

.content__gallery {
	margin: 0px 0px 30px 0px;
}

.gallery__title,
.chools__title {
	color: darkgray;
}

.gallery__items {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


@media (min-width: 767px) {
	.gallery__item_big {
		grid-column: span 2;
		grid-row: span 2;
	}
}


.gallery__item {
	position: relative;
	padding: 0px 0px 85% 0px;
}

.gallery__item img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.content__chools {
	margin-top: 60px;
}

.chools__title {}

.chools__items {
	display: grid;
	column-gap: 30px;
	row-gap: 50px;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.chools__item {
	display: grid;
	grid-auto-flow: row;
	grid-template: auto 1fr minmax(40px, auto) / 1fr;
}

.chools__image {
	position: relative;
	padding: 0px 0px 90% 0px;
	margin: 0px 0px 20px 0px;
}

.chools__image img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.chools_name {
	font-size: 24px;
	color: #fff;
	line-height: 30px;
	margin: 0px 0px 20px 0px;
}

.chools__button {
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	line-height: 40px;
	justify-self: center;
	background-color: #6ac7a1;
	padding: 0px 20px;
}



/* --------- footer ---------- */
.footer {
	grid-area: footer;
	display: grid;
	padding: 15px;
	align-items: center;
	background-color: #bdeb95;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
	margin-top: 20px;
	color: #0faa3b;
	font-size: 18px;
	font-weight: 600;
	justify-items: center;
}

.footer__item {}

.footer__text {}

@media (min-width: 550px) {
	.footer__item {
		grid-column: 2 /3;
	}

	.footer__text {
		grid-column: 3 /4;
	}
}

@media (max-width: 550px) {
	.footer {
		grid-template: 1fr 1fr / 1fr;
		text-align: center;
	}

	.footer__copy {
		order: 2;
	}

	.footer__text {
		order: 1;
	}
}